<header id="header">
	<h1><a href="#" id="logo">三星化工</a></h1>
	<nav id="nav">
		<a href="/" class="current-page-item">主页</a>
		<a href="/twocolumn1">公司介绍</a>
		<a href="/twocolumn2">经营范围</a>
		<a href="/onecolumn">企业文化</a>
		<a href="/threecolumn">联系方式</a>
	</nav>
</header>







